<!-- Navbar principale -->
<nav
	class="bg-[#424141] shadow-sm p-2 sticky top-0 left-0 w-full z-50 ">

	<!-- En-tête : logo / recherche / connexion -->
	<div
		class="flex flex-col sm:flex-col lg:flex-row justify-between items-center gap-2 mb-2">

		<!-- Si l'utilisateur N'EST PAS connecté -->
		<a *ngIf="!user" routerLink="login" class="order-2 lg:order-3 md:order-2 bg-[#A39F22] text-white px-4 py-2 rounded-xl flex items-center justify-center w-full sm:w-auto lg:self-start">
			<app-icon name="user"></app-icon>
			<span class="ml-2 text-lg">Connexion Administration</span>
		</a>

		<!-- Si l'utilisateur EST connecté -->
		<div *ngIf="user" class=" mt-3 order-2 lg:order-3 md:order-2 bg-[#A39F22] text-white px-4 py-2 rounded-xl flex items-center justify-center w-full sm:w-auto lg:self-start">
			<app-icon name="user"></app-icon>
			<span class="ml-2 text-lg">Bonjour
				{{ user.nom }}</span>
			<button (click)="logout()" class="ml-3 bg-[#fff] text-[#A39F22] p-4  py-1 rounded-lg hover:bg-[#f2f2f2]  text-xl font-bold cursor-pointer hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out ">
				Déconnexion
			</button>
		</div>
		<!-- Logo -->
		<img
		src="assets/images/Logo-France-Marine-Services.png" alt="Logo" class="order-1 max-w-32 sm:max-w-48 w-auto self-start"/>

		<!-- Barre de recherche -->
		<label class="order-3 sm:order-2 input flex items-center rounded-xl w-full sm:w-auto self-center">
			<app-icon name="search"></app-icon>
			<input type="search" placeholder="Rechercher" class="rounded w-full text-xl text-black px-2 py-1 outline-none"/>
		</label>
	</div>

	<!-- Menu desktop -->
	<ul class="hidden lg:flex justify-center space-x-12">
		<li>
			<a routerLink='' class="text-white font-bold text-3xl hover:text-yellow-400 flex items-center space-x-2 cursor-pointer">
				<app-icon name="home"></app-icon>
				<span>Accueil</span>
			</a>
		</li>

		<!-- Catégories -->
		<li *ngFor="let cat of categories" class="relative group">
			<button (mouseenter)="selectCategorie(cat.id)" class="text-white font-bold text-3xl hover:text-yellow-400 flex items-center space-x-2 cursor-pointer bg-transparent border-none">
				<app-icon [name]="getIconForCategory(cat.nom)"></app-icon>
				<span>{{ cat.nom }}</span>
			</button>

			<!-- Sous-catégories -->
			<ul *ngIf="sousCategoriesMap[cat.id]?.length" class="absolute left-0 mt-2 bg-[#424141] text-white text-xl rounded shadow z-10 opacity-0 group-hover:opacity-100 transition duration-300 p-2">
				<li *ngFor="let sub of sousCategoriesMap[cat.id]">
					<a [routerLink]="['/produits/souscategorie', sub.id]" class="block px-3 py-1 hover:bg-[#A39F22] rounded" (click)="selectSousCategorie(sub.id)">
						{{ sub.nom }}
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a routerLink="contact" class="text-white font-bold text-3xl hover:text-yellow-400 flex items-center space-x-2 cursor-pointer">
				<app-icon name="contact"></app-icon>
				<span>Contact</span>
			</a>
		</li>
    <!-- Lien vers l'administration, visible uniquement si l'utilisateur est connecté -->
		<li *ngIf="user">
			<a (click)="redirectToEasy()" class="text-white font-bold text-3xl hover:text-yellow-400 flex items-center space-x-2 cursor-pointer">
      	<app-icon name="user"></app-icon>
				<span>Administration</span>
			</a>
		</li>

	</ul>

	<!-- Menu mobile -->
	<div
		class="lg:hidden mt-2 px-4">
		<!-- Bouton burger -->
		<button (click)="toggleMenu()" class="text-white flex items-center space-x-2 text-2xl focus:outline-none">
			<app-icon name="burger"></app-icon>
		</button>

		<!-- Menu déroulant -->
		<div
			[ngClass]="{'max-h-0 overflow-hidden': !isMenuOpen, 'max-h-screen': isMenuOpen}" class="transition-all duration-300 ease-in-out mt-2">
			<!-- Accueil -->
			<a routerlink="" class=" text-white text-2xl font-bold mb-2 hover:text-yellow-400 flex items-center" (click)="closeMenu()">
				<app-icon name="home"></app-icon>
				<span class="ml-2 cursor-pointer">Accueil</span>
			</a>

			<!-- Catégories -->
			<ng-container *ngFor="let cat of categories">
				<details class="mb-2">
					<summary class="flex items-center text-white text-2xl font-bold cursor-pointer">
						<app-icon [name]="getIconForCategory(cat.nom)"></app-icon>
						<span class="ml-2">{{ cat.nom }}</span>
					</summary>

					<ul *ngIf="sousCategoriesMap[cat.id]?.length" class="pl-8 mt-1 space-y-1">
						<li *ngFor="let sub of sousCategoriesMap[cat.id]">
							<a [routerLink]="['/produits/souscategorie', sub.id]" class="block text-gray-200 text-lg hover:text-yellow-400" (click)="selectSousCategorie(sub.id); closeMenu()">
								{{ sub.nom }}
							</a>
						</li>
					</ul>
				</details>
			</ng-container>

			<!-- Contact -->
			<a routerlink="contact" class=" text-white text-2xl font-bold mt-2 hover:text-yellow-400 flex items-center cursor-pointer" (click)="closeMenu()">
				<app-icon name="contact"></app-icon>
				<span class="ml-2">Contact</span>
			</a>
          <!-- Lien vers l'administration, visible uniquement si l'utilisateur est connecté -->
		<li *ngIf="user">
			<a (click)="redirectToEasy()" class="text-white font-bold text-2xl mt-2 hover:text-yellow-400 flex items-center cursor-pointer">
				<span>Administration</span>
			</a>
		</li>

		</div>
	</div>
</nav>
