{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
	<div class="container py-4">
		<h1 class="h3 mb-4 text-center">Tableau de bord Administration</h1>
        <h2>Bienvenue : {{ nom }}</h2>

		<div
			class="row g-4">
			<!-- Card Produits -->
			<div class="col-md-4">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Produits</h5>
						<p class="card-text text-muted ">Gérer tous les produits du site</p>
						<a href="{{ path('admin', {crudControllerFqcn: 'App\\Controller\\Admin\\ProduitCrudController'}) }}" class="btn btn-primary">
							Accéder au CRUD
						</a>
					</div>
				</div>
			</div>

			<!-- Card Catégories -->
			<div class="col-md-4">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Catégories</h5>
						<p class="card-text text-muted">Gérer les catégories</p>
						<a href="#" class="btn btn-success">Accéder au CRUD</a>
					</div>
				</div>
			</div>

			<!-- Card Sous-catégories -->
			<div class="col-md-4">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Sous-catégories</h5>
						<p class="card-text text-muted">Gérer les sous-catégories</p>
						<a href="#" class="btn btn-warning">Accéder au CRUD</a>
					</div>
				</div>
			</div>
		</div>
	<a href="http://localhost:4200" class="btn btn-primary">Retour au site</a>
	</div>

{% endblock %}
