<div class="relative w-full h-screen lg:h-[80vh] overflow-hidden">
  <!-- Vidéo full screen -->
  <video
    muted
    playsinline
    autoplay
    loop
    class="inset w-full h-full object-cover lg:mt-5 mt-5 z-[-1]"
    
  >
    <source src="assets/vidéos/video-fms.mp4" type="video/mp4" />
    Votre navigateur ne supporte pas la balise vidéo.
  </video>

  <!-- Texte superposé sur vidéo -->
  <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-center px-4 self-start lg:mt-30 mt-10">
    <h1 class="lg:text-7xl sm:text-5xl font-bold mb-4 text-[#424141]">{{ videoTitle }}</h1>
    <p class="lg:text-4xl sm:text-2xl text-[#424141]">{{ videoDescription }}</p>
  </div>
</div>

<!-- Création des cartes de produits -->
<div class="flex flex-col lg:flex-row text-xl">
  <ng-container *ngFor="let card of cards">
    <app-card-produits
      *ngIf="card.imageUrl && card.description && card.link"
      [imageUrl]="card.imageUrl"
      [description]="card.description"
      [link]="card.link">
    </app-card-produits>
  </ng-container>
</div>

<!-- Section "À propos de nous" -->
<div class="bg-[#424141] py-12 px-4 sm:px-6 lg:px-8 ">
  <div class="max-w-7xl mx-auto flex flex-col lg:flex-row items-start lg:items-center gap-8">
    
    <!-- Texte -->
    <div class="flex flex-col text-left lg:w-1/2 ">
      <h2 class="text-4xl font-extrabold text-white mb-4">{{ title }}</h2>
      <p class="text-xl text-white">{{ Description }}</p>
    </div>

    <!-- Carousel -->
    <div class="lg:w-1/2 w-full">
      <div class="carousel rounded-box w-1/2 ">
        <div class="carousel-item w-full">
          <img src="assets/images/peniche-lyonnaise.jpg" class="w-full" />
        </div>
        <div class="carousel-item w-full">
          <img src="assets/images/huile.jpg" class="w-full" />
        </div>
        <div class="carousel-item w-full">
          <img src="assets/images/peniche-2.jpg" class="w-full" />
        </div>
      </div>
    </div>

  </div>
</div>
